.btn{
    width: 269px;
    height: 41px;
    background: linear-gradient(to right, #fad65d, #f6b22d);
    border-radius: 100px;
    text-align: center;
    line-height: 41px;
    margin: 140px auto 0;
    font-size: 18px;
}