.items{
    margin: 0 auto;
    display: flex;
    padding: 20px 18px;
    background: #fff;
    width: 300px;
}

.title{
    font-size: 16px;
    font-weight: 600;
}

.mony{
    font-size: 54px;
    color: #da4131
}

.mony > span{
    font-size: 34px;
}

.items > div:first-child {
    width: 156px;
    margin-right: 11px;
}

.items > div:last-child {
    width: 131px;
}

.bg{
    width: 111px;
    background-image: url(../../assets/二维码底框@3x.png);
    background-size: 100%;
    background-repeat: no-repeat;

}

.bg > img{
    margin: 4px;
    width: 75px;
}