footer {
	margin: 0 auto 52px;
	width: 300px;
}

main {
	margin: 26px 0 38px 0;
}

*,
*::before,
*::after {
	box-sizing: initial;
}

body {
    background-image: url(../../assets/图层0@2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--bodyColor);
}

.clear_float {
    overflow: hidden;
}

.title {
    color: #fff;
    margin-top: 30px;
    font-size: 50px;
    clear: both;
    text-align: center;
    font-weight: 700;
}
:root {
	--bodyColor: rgb(218, 65, 59);
	box-sizing: border-box;
}
