.btn {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 12px 0 10px;
    background-color: rgba(141,54,135,0.5);
    line-height: 30px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    font-size: 14px;
    color: #f2e7f0;
    margin-top: 16px;
    float: right;
}

.btn > img{
    margin-left: 4px;
}